.jumbotron {
    background: url("../img/books.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    letter-spacing: 10px;

}

.text-shadow {
    text-shadow: -2px 0 5px whitesmoke,
    0 3px 5px whitesmoke,
    3px 0 5px whitesmoke,
    0 -5px 5px whitesmoke;
}

.medium-txt {
    font-size: 1.2rem;
}

.huge-txt {
    font-size: 1.5rem;

}

.table-lg-padd>tbody>tr>td, .table-lg-padd>tbody>tr>th, .table-lg-padd>tfoot>tr>td, .table-lg-padd>tfoot>tr>th, .table-lg-padd>thead>tr>td, .table-lg-padd>thead>tr>th {
    padding: 20px;
}
