<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    External css-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}"  rel="stylesheet" />

    <!--    Bootrstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Home</title>

</head>
<body>
<div class="jumbotron text-center text-shadow border border-bottom mb-0">
    <h1 class="display-2 font-weight-bold">Book catalog</h1>
    <h3>Browse your favourite books!</h3>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-primary medium-txt">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active border-right pr-2 mr-2">
                <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item border-right pr-2 mr-2">
                <a class="nav-link" th:href="@{/books/catalog}">Catalog</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item border-left pl-2">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row align-items-center" style="height: 300px">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4 mb-1"><strong>Welcome <span style="color:green" sec:authentication="name"></span> to our library!</strong></h1><br>
        <p class="huge-txt">Go to the catalog to view and modify your collection of books.</p>
    </div>
</div>

</body>
</html>