<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    External css-->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!--    Bootrstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Login</title>

</head>
<body>
<div class="jumbotron text-center text-shadow" style="margin-bottom:0">
    <h1 class="font-weight-bold text-large">Book catalog</h1>
    <p>Browse your favourite books!</p>
</div>
<div class="m-5">
    <h2 class="bg-primary text-white text-center font-weight-bold"> LOGIN </h2>
</div>


</body>
</html>