<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="head :: headCode"></th:block>
    <title>Login</title>
</head>

<body>
<div class="jumbotron txt-shadow">
    <h1>Book catalog</h1>
    <h3>Browse your favourite books!</h3>
</div>

<div class="container">
    <div class="bordered low-width">
        <form name="f" th:action="@{/login}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div>
                <h2 class="heading"> LOGIN </h2>
            </div>

            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                         <span class="fa fa-user"></span>
                     </span>
                    <input type="text" class="form-control form-control-lg" id="inputUsername"
                           name="username" placeholder="Enter username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>
                    <input type="password" class="form-control form-control-lg" id="inputPassword"
                           name="password" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto confirm-btn">
                    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                    <a class="nav-link" th:href="@{/registration}">Don't have account? Register now </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>