<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    External css-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <!--    Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--    Bootrstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <title>Registration</title>
</head>

<body>
<div class="jumbotron txt-shadow">
    <h1>Book catalog</h1>
    <h3>Browse your favourite books!</h3>
</div>

<div class="container">
    <div class="bordered low-width">
        <form action="#" th:action="@{/save}" th:object="${user}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div>
                <h2 class="heading"> CREATE ACCOUNT </h2>
            </div>

            <div class="alert alert-danger error" th:if="${occurredUserException}">
                <h5 th:text="${exceptionUserMessage}" class="error"></h5>
            </div>

            <div class="alert alert-danger error" th:if="${occurredPasswordException}">
                <h5 th:text="${exceptionPasswordMessage}" class="error"></h5>
            </div>

            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                         <span class="fa fa-user"></span>
                     </span>
                    <input type="text" th:field="*{username}" class="form-control form-control-lg"
                           id="inputUsername" name="username" placeholder="Username" th:errorclass="error-red-bd">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></p>
            </div>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>
                    <input type="password" th:field="*{password}" class="form-control form-control-lg"
                           th:classappend="${occurredPasswordException} ? 'error-red-bd'" id="inputPassword"
                           placeholder="Enter password" name="password" th:errorclass="error-red-bd">
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
            </div>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>
                    <input type="password" th:field="*{matchingPassword}" class="form-control form-control-lg"
                           th:classappend="${occurredPasswordException} ? 'error-red-bd'" id="inputConfirmPassword"
                           placeholder="Enter password again" name="matchingPassword" th:errorclass="error-red-bd">
                </div>
                <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="error"></p>
            </div>

            <div class="form-group row btn-div">
                <div class="col-auto confirm-btn">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-user-plus"></i>Create
                    </button>
                </div>
                <div class="col-auto btn-back">
                    <a th:href="@{/login}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-chevron-left"></i> Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>